/**
 * @file icon.css
 */

@font-face {
    font-family: "IconFont1";
    src: url("IconFont.eot"); /* IE9 */
    src: url("IconFont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("IconFont.woff2") format("woff2"), /* chrome、firefox、opera、Safari, Android, iOS */
    url("IconFont.woff") format("woff"), /* chrome、firefox */
    url("IconFont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("IconFont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "IconFont1" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-x:before {
  content: "\78";
}

.icon-icondocsfill:before {
  content: "\e612";
}

.icon-icondocs:before {
  content: "\e613";
}

.icon-icontrendsfill:before {
  content: "\e614";
}

.icon-icontrends:before {
  content: "\e615";
}

.icon-iconstatistics:before {
  content: "\e617";
}

.icon-iconfoot:before {
  content: "\e61f";
}

.icon-iconcompany:before {
  content: "\e624";
}

.icon-iconfriends:before {
  content: "\e63e";
}

.icon-icongroupfriendsfill:before {
  content: "\e63f";
}

.icon-iconhelpfill:before {
  content: "\e640";
}

.icon-iconphonefriendsfill:before {
  content: "\e643";
}

.icon-iconservicewindowfill:before {
  content: "\e646";
}

.icon-iconunicom:before {
  content: "\e64c";
}

.icon-iconlocation:before {
  content: "\e64e";
}

.icon-iconpersonclockfill:before {
  content: "\e654";
}

.icon-iconpersonclock:before {
  content: "\e655";
}

.icon-iconpersonwarmfill:before {
  content: "\e656";
}

.icon-iconpersonwarm:before {
  content: "\e657";
}

.icon-iconplayfill:before {
  content: "\e659";
}

.icon-iconvideo:before {
  content: "\e660";
}

.icon-iconappfill:before {
  content: "\e661";
}

.icon-iconapp:before {
  content: "\e662";
}

.icon-icongpsfill:before {
  content: "\e663";
}

.icon-iconscanfriendsfill:before {
  content: "\e644";
}

.icon-iconsearchfriendsfill:before {
  content: "\e645";
}

.icon-iconseelog:before {
  content: "\e665";
}

.icon-iconwritelog:before {
  content: "\e667";
}

.icon-iconcertification:before {
  content: "\e668";
}

.icon-iconcomputerfill:before {
  content: "\e66b";
}

.icon-icondatafill:before {
  content: "\e66c";
}

.icon-iconfoundfill:before {
  content: "\e66e";
}

.icon-iconphonepersonfill:before {
  content: "\e672";
}

.icon-iconrecordfill:before {
  content: "\e673";
}

.icon-iconsafecenterfill:before {
  content: "\e674";
}

.icon-iconsettingroundfill:before {
  content: "\e676";
}

.icon-iconroundaddfill:before {
  content: "\e678";
}

.icon-iconroundreducefill:before {
  content: "\e67c";
}

.icon-icondingtypefill:before {
  content: "\e681";
}

.icon-icondingvoicesfill:before {
  content: "\e682";
}

.icon-iconround:before {
  content: "\e621";
}

.icon-icondingdelete:before {
  content: "\e67e";
}

.icon-icondingplayfill:before {
  content: "\e67f";
}

.icon-icondingstopfill:before {
  content: "\e680";
}

.icon-iconroundfill:before {
  content: "\e683";
}

.icon-anonymous-iconfont:before {
  content: "\e68a";
}

.icon-anonymous-iconfont1:before {
  content: "\e68b";
}

.icon-0:before {
  content: "\e68c";
}

.icon-1:before {
  content: "\e68d";
}

.icon-2:before {
  content: "\e68e";
}

.icon-3:before {
  content: "\e68f";
}

.icon-4:before {
  content: "\e690";
}

.icon-5:before {
  content: "\e691";
}

.icon-6:before {
  content: "\e692";
}

.icon-7:before {
  content: "\e693";
}

.icon-8:before {
  content: "\e694";
}

.icon-9:before {
  content: "\e695";
}

.icon-iconstarfriends:before {
  content: "\e687";
}

.icon-iconwarnfill:before {
  content: "\e696";
}

.icon-iconwarn:before {
  content: "\e697";
}

.icon-iconswmachinefill:before {
  content: "\e699";
}

.icon-iconswpowerfill:before {
  content: "\e69a";
}

.icon-iconswrelevancefill:before {
  content: "\e69b";
}

.icon-iconsignalfill:before {
  content: "\e69f";
}

.icon-guojidianhua:before {
  content: "\e6a2";
}

.icon-iconsafefill:before {
  content: "\e6a5";
}

.icon-iconnoprotectfill:before {
  content: "\e64a";
}

.icon-iconprotectfill:before {
  content: "\e6aa";
}

.icon-iconplay1:before {
  content: "\e6b1";
}

.icon-iconreplay:before {
  content: "\e6b2";
}

.icon-iconmine:before {
  content: "\e609";
}

.icon-iconemptypersonone:before {
  content: "\e6b4";
}

.icon-iconemptypersontwo:before {
  content: "\e6b5";
}

.icon-iconallappfill:before {
  content: "\e6b7";
}

.icon-iconallapp:before {
  content: "\e6b8";
}

.icon-iconpersoncard:before {
  content: "\e6b6";
}

.icon-iconnextarrow:before {
  content: "\e6bd";
}

.icon-iconfunction:before {
  content: "\e6be";
}

.icon-iconemptycall:before {
  content: "\e6c0";
}

.icon-iconroundgarbagefill:before {
  content: "\e6c1";
}

.icon-iconedit:before {
  content: "\e6c4";
}

.icon-icon:before {
  content: "\e6c5";
}

.icon-iconvoip:before {
  content: "\e6bc";
}

.icon-iconemptydinghold:before {
  content: "\e6c6";
}

.icon-iconsend:before {
  content: "\e6c7";
}

.icon-iconshakehandfill:before {
  content: "\e6c8";
}

.icon-iconfill:before {
  content: "\e677";
}

.icon-iconbizcallfill:before {
  content: "\e6c9";
}

.icon-iconservice:before {
  content: "\e637";
}

.icon-icon2dbarcode:before {
  content: "\e6cc";
}

.icon-iconrecharge:before {
  content: "\e6d5";
}

.icon-iconnormalphonefill:before {
  content: "\e6d0";
}

.icon-iconvoicephonefill:before {
  content: "\e6d1";
}

.icon-iconnewding:before {
  content: "\e6d2";
}

.icon-iconconsignee:before {
  content: "\e6d3";
}

.icon-iconsender:before {
  content: "\e6d4";
}

.icon-icongps:before {
  content: "\e6d6";
}

.icon-icon2dbarcodepc:before {
  content: "\e6d7";
}

.icon-iconpersoncardpc:before {
  content: "\e6d8";
}

.icon-iconbeacon:before {
  content: "\e6d9";
}

.icon-iconservicecenterfill:before {
  content: "\e6da";
}

.icon-icon_more_two_fill:before {
  content: "\e781";
}

.icon-icon_cspace_notrends:before {
  content: "\e782";
}

.icon-icon_cspace_nouse:before {
  content: "\e783";
}

.icon-icon_share:before {
  content: "\e78c";
}

.icon-icon_attestation:before {
  content: "\e785";
}

.icon-icon_person_write:before {
  content: "\e786";
}

.icon-icon_person_ding:before {
  content: "\e788";
}

.icon-icon_person_secret:before {
  content: "\e78a";
}

.icon-icon_barcode_fill:before {
  content: "\e78d";
}

.icon-icon_copylink_fill:before {
  content: "\e78f";
}

.icon-icon_roundwork_fill:before {
  content: "\e792";
}

.icon-icon_person_secret_two:before {
  content: "\e790";
}

.icon-icon_person_secret_three:before {
  content: "\e791";
}

.icon-icon_zoom:before {
  content: "\e698";
}

.icon-icon_appcenter_add:before {
  content: "\e794";
}

.icon-icon_appcenter_setting:before {
  content: "\e795";
}

.icon-icon_attestation_two:before {
  content: "\e798";
}

.icon-icon_appcenter_setting_two:before {
  content: "\e799";
}

.icon-icon_appcenter_add_two:before {
  content: "\e79a";
}

.icon-icon_deadline:before {
  content: "\e79c";
}

.icon-icon_calendar_close:before {
  content: "\e7a0";
}

.icon-icon_calendar_next:before {
  content: "\e7a1";
}

.icon-icon_calendar_others:before {
  content: "\e7a2";
}

.icon-icon_calendar_morningsvg:before {
  content: "\e7a3";
}

.icon-icon_calendar_sun:before {
  content: "\e7a4";
}

.icon-icon_calendar_afternoon:before {
  content: "\e7a5";
}

.icon-icon_copylink_samll:before {
  content: "\e7a8";
}

.icon-icon_share_fill:before {
  content: "\e7a9";
}

.icon-ic_roundcopy_fill:before {
  content: "\e7aa";
}

.icon-ic_roundshare_fill:before {
  content: "\e7ab";
}

.icon-icon_login_eye:before {
  content: "\e7ae";
}

.icon-icon_revocation:before {
  content: "\e7ac";
}

.icon-icon_pen:before {
  content: "\e7ad";
}

.icon-icon_removedialogue:before {
  content: "\e7af";
}

.icon-icon_bizcall_phone:before {
  content: "\e6ad";
}

.icon-icon_checkbox_square_done:before {
  content: "\e7b0";
}

.icon-icon_checkbox_square:before {
  content: "\e7b1";
}

.icon-icon_dingattestation:before {
  content: "\e7b2";
}

.icon-icon_login_password_eye:before {
  content: "\e608";
}

.icon-icon_robot_round_fill:before {
  content: "\e7b3";
}

.icon-icon_eyes_line:before {
  content: "\e7b4";
}

.icon-icon_list_smartdevice:before {
  content: "\e7b5";
}

.icon-icon_add_big:before {
  content: "\e6ae";
}

.icon-icon_cal_afternoon:before {
  content: "\e7b7";
}

.icon-icon_cal_next:before {
  content: "\e7b8";
}

.icon-icon_cal_sun:before {
  content: "\e7b9";
}

.icon-icon_cal_others:before {
  content: "\e7ba";
}

.icon-icon_cal_none:before {
  content: "\e7bb";
}

.icon-icon_cal_afternoon_arr:before {
  content: "\e7bc";
}

.icon-icon_round_wifi:before {
  content: "\e7bd";
}

.icon-icon_plaint:before {
  content: "\e7be";
}

.icon-icon_gl_finger:before {
  content: "\e7bf";
}

.icon-icon_bizcall:before {
  content: "\e7c2";
}

.icon-icon_organize_fill:before {
  content: "\e7c0";
}

.icon-icon_SIMCard:before {
  content: "\e7c3";
}

.icon-icon_compile_thick:before {
  content: "\e7c7";
}

.icon-icon_upload:before {
  content: "\e7c8";
}

.icon-icon_garbage:before {
  content: "\e7d5";
}

.icon-icon_petal:before {
  content: "\e7db";
}

.icon-icon_contact:before {
  content: "\e7e3";
}

.icon-icon_workphone_fill:before {
  content: "\e7e4";
}

.icon-icon_c_error:before {
  content: "\e7e5";
}

.icon-icon_nowifi:before {
  content: "\e7e6";
}

.icon-icon_refresh:before {
  content: "\e7e7";
}

.icon-icon_doneline:before {
  content: "\e7ea";
}

.icon-icon_rounddown:before {
  content: "\e7eb";
}

.icon-icon_likegood_fill:before {
  content: "\e7ec";
}

.icon-icon_daildelet:before {
  content: "\e6de";
}

.icon-icon_daildown:before {
  content: "\e6df";
}

.icon-icon_h_loading:before {
  content: "\e7ef";
}

.icon-icon_robot_two_round_fill:before {
  content: "\e7f0";
}

.icon-icon_signalweak1:before {
  content: "\e7fd";
}

.icon-icon_starcancel_fill:before {
  content: "\e7f4";
}

.icon-icon_dail:before {
  content: "\e811";
}

.icon-icon_person_message:before {
  content: "\e812";
}

.icon-icon_mail_read_fill:before {
  content: "\e814";
}

.icon-icon_person_phone:before {
  content: "\e81b";
}

.icon-icon_invitefriends_fill:before {
  content: "\e81c";
}

.icon-icon_eskm:before {
  content: "\e81d";
}

.icon-icon_module_fill:before {
  content: "\e822";
}

.icon-icon_watchpost_fill:before {
  content: "\e823";
}

.icon-icon_bluetooth:before {
  content: "\e825";
}

.icon-icon_simcard_one:before {
  content: "\e829";
}

.icon-icon_simcard_two:before {
  content: "\e82a";
}

.icon-icon_copy_fill:before {
  content: "\e82c";
}

.icon-icon_arrow_up:before {
  content: "\e830";
}

.icon-icon_clock_fill_two:before {
  content: "\e834";
}

.icon-icon_evaluate:before {
  content: "\e837";
}

.icon-icon_revise:before {
  content: "\e838";
}

.icon-icon_meeting_signin:before {
  content: "\e839";
}

.icon-icon_report:before {
  content: "\e83c";
}

.icon-icon_num_seven:before {
  content: "\e840";
}

.icon-icon_num_four:before {
  content: "\e841";
}

.icon-icon_num_one:before {
  content: "\e842";
}

.icon-icon_num_nine:before {
  content: "\e843";
}

.icon-icon_num_eight:before {
  content: "\e844";
}

.icon-icon_num_five:before {
  content: "\e845";
}

.icon-icon_num_two:before {
  content: "\e846";
}

.icon-icon_num_zero:before {
  content: "\e847";
}

.icon-icon_num_six:before {
  content: "\e848";
}

.icon-icon_num_three:before {
  content: "\e849";
}

.icon-icon_ding_ding_fill:before {
  content: "\e84a";
}

.icon-icon_ding_meeting_fi:before {
  content: "\e84c";
}

.icon-icon_ding_task_fill:before {
  content: "\e84d";
}

.icon-icon_ding_meeting:before {
  content: "\e84e";
}

.icon-icon_report_fill:before {
  content: "\e84f";
}

.icon-icon_recover_fill:before {
  content: "\e850";
}

.icon-icon_ding_task:before {
  content: "\e851";
}

.icon-icon_phonemeeting_fi:before {
  content: "\e852";
}

.icon-icon_phonemeeting:before {
  content: "\e853";
}

.icon-icon_revise_fill:before {
  content: "\e854";
}

.icon-icon_videomeeting:before {
  content: "\e856";
}

.icon-icon_conference_fill:before {
  content: "\e858";
}

.icon-icon_gm:before {
  content: "\e85a";
}

.icon-icon_Photo_Camera_Bu:before {
  content: "\e860";
}

.icon-icon_sendcontacts:before {
  content: "\e864";
}

.icon-icon_official_certif:before {
  content: "\e865";
}

.icon-icon_closecamera_hov:before {
  content: "\e6a9";
}

.icon-icon_outline:before {
  content: "\e69e";
}

.icon-icon_allpicture:before {
  content: "\e869";
}

.icon-icon_btn:before {
  content: "\e86b";
}

.icon-icon_pen_edit:before {
  content: "\e86c";
}

.icon-icon_arrow_more:before {
  content: "\e86d";
}

.icon-icon_dashedadd:before {
  content: "\e872";
}

.icon-icon_invoice:before {
  content: "\e873";
}

.icon-alphaicon_wan:before {
  content: "\e60a";
}

.icon-icon_tax_number:before {
  content: "\e874";
}

.icon-icon_company_page:before {
  content: "\e875";
}

.icon-icon_backarrow:before {
  content: "\e899";
}

.icon-icon_im_camera:before {
  content: "\e89a";
}

.icon-icon_exponent:before {
  content: "\e89b";
}

.icon-icon_callrecord:before {
  content: "\e69c";
}

.icon-icon_dialrecord:before {
  content: "\e69d";
}

.icon-icon_voice_arrow:before {
  content: "\e89e";
}

.icon-icon_act_open:before {
  content: "\e8e6";
}

.icon-icon_addperson_fill:before {
  content: "\e8e7";
}

.icon-icon_annex:before {
  content: "\e8e8";
}

.icon-icon_airplay:before {
  content: "\e8e9";
}

.icon-icon_addperson:before {
  content: "\e8ea";
}

.icon-icon_boss_fill:before {
  content: "\e8ec";
}

.icon-icon_calendar_fill:before {
  content: "\e8ed";
}

.icon-icon_camera_fill:before {
  content: "\e8ee";
}

.icon-icon_approval_fill:before {
  content: "\e8ef";
}

.icon-icon_checkbox_fill:before {
  content: "\e8f0";
}

.icon-icon_certification_f:before {
  content: "\e8f1";
}

.icon-icon_checkbox:before {
  content: "\e8f2";
}

.icon-icon_clock_fill:before {
  content: "\e8f3";
}

.icon-icon_clock:before {
  content: "\e8f4";
}

.icon-icon_closeeye:before {
  content: "\e8f5";
}

.icon-icon_collect_fill:before {
  content: "\e8f6";
}

.icon-icon_cloudup:before {
  content: "\e8f7";
}

.icon-icon_contact_fill:before {
  content: "\e8f9";
}

.icon-icon_community:before {
  content: "\e8fa";
}

.icon-icon_conf_video_fill:before {
  content: "\e8fc";
}

.icon-icon_delete:before {
  content: "\e8fe";
}

.icon-icon_details:before {
  content: "\e8ff";
}

.icon-icon_ding_fill:before {
  content: "\e900";
}

.icon-icon_eye:before {
  content: "\e901";
}

.icon-icon_face_fill:before {
  content: "\e902";
}

.icon-icon_face:before {
  content: "\e903";
}

.icon-icon_doc_fill:before {
  content: "\e904";
}

.icon-icon_download:before {
  content: "\e905";
}

.icon-icon_doc:before {
  content: "\e906";
}

.icon-icon_filter_fill:before {
  content: "\e907";
}

.icon-icon_female_fill:before {
  content: "\e908";
}

.icon-icon_file:before {
  content: "\e909";
}

.icon-icon_filter:before {
  content: "\e90a";
}

.icon-icon_file_fill:before {
  content: "\e90b";
}

.icon-icon_foot_fill:before {
  content: "\e90c";
}

.icon-icon_full_screen:before {
  content: "\e90d";
}

.icon-icon_gift_fill:before {
  content: "\e90e";
}

.icon-icon_glass:before {
  content: "\e90f";
}

.icon-icon_goodmorning:before {
  content: "\e910";
}

.icon-icon_hardware:before {
  content: "\e911";
}

.icon-icon_goodnight:before {
  content: "\e912";
}

.icon-icon_horn:before {
  content: "\e913";
}

.icon-icon_inbox_fill:before {
  content: "\e914";
}

.icon-icon_index:before {
  content: "\e915";
}

.icon-icon_invite_fill:before {
  content: "\e916";
}

.icon-icon_inform_fill:before {
  content: "\e917";
}

.icon-icon_iPad:before {
  content: "\e918";
}

.icon-icon_likegood:before {
  content: "\e919";
}

.icon-icon_location_fill:before {
  content: "\e91a";
}

.icon-icon_link:before {
  content: "\e91b";
}

.icon-icon_lock_fill:before {
  content: "\e91c";
}

.icon-icon_male_fill:before {
  content: "\e91d";
}

.icon-icon_manage_fill:before {
  content: "\e91e";
}

.icon-icon_meeting_signin_:before {
  content: "\e91f";
}

.icon-icon_Mac:before {
  content: "\e920";
}

.icon-icon_meeting_fill:before {
  content: "\e921";
}

.icon-icon_message_fill:before {
  content: "\e922";
}

.icon-icon_mobilephone:before {
  content: "\e923";
}

.icon-icon_message:before {
  content: "\e924";
}

.icon-icon_mute:before {
  content: "\e925";
}

.icon-icon_more:before {
  content: "\e926";
}

.icon-icon_nonoticce:before {
  content: "\e927";
}

.icon-icon_people_fill:before {
  content: "\e929";
}

.icon-icon_photo:before {
  content: "\e92a";
}

.icon-icon_photo_fill:before {
  content: "\e92b";
}

.icon-icon_ping_fill:before {
  content: "\e92c";
}

.icon-icon_QRcode:before {
  content: "\e92e";
}

.icon-icon_right_fill:before {
  content: "\e92f";
}

.icon-icon_recorder_fill:before {
  content: "\e930";
}

.icon-icon_question:before {
  content: "\e931";
}

.icon-icon_roundadd:before {
  content: "\e932";
}

.icon-icon_roundarrow_left:before {
  content: "\e933";
}

.icon-icon_roundclose_fill:before {
  content: "\e934";
}

.icon-icon_roundreduce:before {
  content: "\e935";
}

.icon-icon_safety_fill:before {
  content: "\e936";
}

.icon-icon_search:before {
  content: "\e937";
}

.icon-icon_scan:before {
  content: "\e938";
}

.icon-icon_sendfile:before {
  content: "\e939";
}

.icon-icon_seelog_fill:before {
  content: "\e93a";
}

.icon-icon_send_fill:before {
  content: "\e93b";
}

.icon-icon_secretbubble:before {
  content: "\e93c";
}

.icon-icon_setting_fill:before {
  content: "\e93d";
}

.icon-icon_shakehands:before {
  content: "\e93e";
}

.icon-icon_share1:before {
  content: "\e93f";
}

.icon-icon_service_fill:before {
  content: "\e940";
}

.icon-icon_setting:before {
  content: "\e941";
}

.icon-icon_shield:before {
  content: "\e942";
}

.icon-icon_signin_fill:before {
  content: "\e943";
}

.icon-icon_statistics_fill:before {
  content: "\e944";
}

.icon-icon_sim_fill:before {
  content: "\e946";
}

.icon-icon_star_fill:before {
  content: "\e947";
}

.icon-icon_study_fill:before {
  content: "\e948";
}

.icon-icon_subordinate:before {
  content: "\e949";
}

.icon-icon_task_fill:before {
  content: "\e94a";
}

.icon-icon_sunglasses:before {
  content: "\e94b";
}

.icon-icon_switchcamera:before {
  content: "\e94c";
}

.icon-icon_task:before {
  content: "\e94d";
}

.icon-icon_task_done_fill:before {
  content: "\e94e";
}

.icon-icon_threeline_fill:before {
  content: "\e94f";
}

.icon-icon_transpond:before {
  content: "\e950";
}

.icon-icon_trashcan:before {
  content: "\e951";
}

.icon-icon_wifiwarning_fil:before {
  content: "\e952";
}

.icon-icon_work_fill:before {
  content: "\e953";
}

.icon-icon_video_fill:before {
  content: "\e954";
}

.icon-icon_warning:before {
  content: "\e955";
}

.icon-icon_wifi_fill:before {
  content: "\e956";
}

.icon-icon_writelog_fill:before {
  content: "\e957";
}

.icon-icon_cspace_fill:before {
  content: "\e958";
}

.icon-icon_add:before {
  content: "\e95b";
}

.icon-icon_found:before {
  content: "\e95c";
}

.icon-icon_group:before {
  content: "\e95d";
}

.icon-icon_notice:before {
  content: "\e95e";
}

.icon-icon_redpacket_fill:before {
  content: "\e95f";
}

.icon-icon_tie:before {
  content: "\e960";
}

.icon-icon_signal:before {
  content: "\e961";
}

.icon-icon_safety:before {
  content: "\e962";
}

.icon-icon_home:before {
  content: "\e963";
}

.icon-icon_briefcase:before {
  content: "\e964";
}

.icon-icon_at1:before {
  content: "\e965";
}

.icon-icon_camera:before {
  content: "\e966";
}

.icon-icon_cspace:before {
  content: "\e967";
}

.icon-icon_imtop:before {
  content: "\e968";
}

.icon-icon_trashcan_fill:before {
  content: "\e969";
}

.icon-icon_glass_fill:before {
  content: "\e96a";
}

.icon-icon_secret:before {
  content: "\e96c";
}

.icon-icon_act_close:before {
  content: "\e96e";
}

.icon-icon_notice_fill:before {
  content: "\e970";
}

.icon-icon_workmore:before {
  content: "\e971";
}

.icon-icon_atention_fill:before {
  content: "\e972";
}

.icon-icon_number_one:before {
  content: "\e973";
}

.icon-icon_check:before {
  content: "\e974";
}

.icon-icon_password:before {
  content: "\e975";
}

.icon-icon_number_two:before {
  content: "\e976";
}

.icon-icon_cancel:before {
  content: "\e977";
}

.icon-icon_workwifi:before {
  content: "\e618";
}

.icon-icon_clockcard:before {
  content: "\e619";
}

.icon-icon_hardware_fill:before {
  content: "\e92d";
}

.icon-icon_excel_fill:before {
  content: "\e96f";
}

.icon-icon_mobilephone_fill:before {
  content: "\e978";
}

.icon-icon_group_fill:before {
  content: "\e979";
}

.icon-icon_phone:before {
  content: "\e97a";
}

.icon-icon_phone_fill:before {
  content: "\e97c";
}

.icon-icon_scan_fill:before {
  content: "\e97d";
}

.icon-icon_roundarrow_righ:before {
  content: "\e97b";
}

.icon-icon_search_fill:before {
  content: "\e97f";
}

.icon-icon_shakehands_fill:before {
  content: "\e981";
}

.icon-icon_secretbubble_fill:before {
  content: "\e96b";
}

.icon-icon_secret_fill:before {
  content: "\e96d";
}

.icon-icon_addresslist_fill:before {
  content: "\e983";
}

.icon-icon_addressbook_fil:before {
  content: "\e97e";
}

.icon-icon_VIP_one:before {
  content: "\e982";
}

.icon-icon_VIP_two:before {
  content: "\e984";
}

.icon-icon_VIP_three:before {
  content: "\e985";
}

.icon-icon_VIP_four:before {
  content: "\e986";
}

.icon-icon_VIP_five:before {
  content: "\e987";
}

.icon-icon_VIP_six:before {
  content: "\e988";
}

.icon-icon_branch:before {
  content: "\e989";
}

.icon-icon_minimize:before {
  content: "\e98d";
}

.icon-icon_live_fill:before {
  content: "\e98f";
}

.icon-icon_board_fill:before {
  content: "\e98e";
}

.icon-icon_sport:before {
  content: "\e990";
}

.icon-icon_focusover:before {
  content: "\e994";
}

.icon-icon_focusoff:before {
  content: "\e995";
}

.icon-icon_focuson:before {
  content: "\e996";
}

.icon-icon_compile:before {
  content: "\e998";
}

.icon-icon_gm_fill:before {
  content: "\e999";
}

.icon-icon_cmail:before {
  content: "\e959,\e99a";
}

.icon-icon_addressbook_head_fill:before {
  content: "\e99c";
}

.icon-icon_checkbox_select:before {
  content: "\e99d";
}

.icon-icon_lab:before {
  content: "\e99e";
}

.icon-icon_right_line:before {
  content: "\e99f";
}

.icon-icon_videoplay:before {
  content: "\e9a0";
}

.icon-icon_music:before {
  content: "\e9a1";
}

.icon-icon_module1:before {
  content: "\e9a2";
}

.icon-icon_zip:before {
  content: "\e9a3";
}

.icon-icon_a_fill:before {
  content: "\e9a4";
}

.icon-icon_voice_fill:before {
  content: "\e9a5";
}

.icon-icon_hr_fill:before {
  content: "\e9a6";
}

.icon-icon_conference:before {
  content: "\e993";
}

.icon-icon_left:before {
  content: "\e9a8";
}

.icon-icon_empty_ding:before {
  content: "\e9a9";
}

.icon-icon_Aa_fill:before {
  content: "\e9aa";
}

.icon-icon_vip_fill:before {
  content: "\e9ab";
}

.icon-icon_bluetooth_fail:before {
  content: "\e9ac";
}

.icon-icon_bluetooth_succe:before {
  content: "\e9ad";
}

.icon-icon_connect_bluetoo:before {
  content: "\e9ae";
}

.icon-icon_dmail:before {
  content: "\e9af";
}

.icon-icon_otherapp:before {
  content: "\e9b1";
}

.icon-icon_suspend:before {
  content: "\e9b2";
}

.icon-icon_move:before {
  content: "\e9b3";
}

.icon-icon_sticky_to_top:before {
  content: "\e610";
}

.icon-icon_ku_fill1:before {
  content: "\e9b4";
}

.icon-icon_C_wifi:before {
  content: "\e9a7";
}

.icon-icon_C_networksuc:before {
  content: "\e9b5";
}

.icon-icon_C_networking:before {
  content: "\e9b6";
}

.icon-icon_C_suc:before {
  content: "\e9b7";
}

.icon-icon_dail_fill:before {
  content: "\e99b";
}

.icon-icon_dail_up_fill:before {
  content: "\e9b8";
}

.icon-icon_roundclose:before {
  content: "\e9b9";
}

.icon-icon_workphone:before {
  content: "\e9ba";
}

.icon-icon_invite:before {
  content: "\e9bb";
}

.icon-icon_C_unlink:before {
  content: "\e9bc";
}

.icon-icon_subordinate_fil:before {
  content: "\e9be";
}

.icon-icon_nocertification:before {
  content: "\e997";
}

.icon-icon_PC:before {
  content: "\e9bf";
}

.icon-icon_delete_fill:before {
  content: "\e9c0";
}

.icon-icon_work:before {
  content: "\e9c1";
}

.icon-icon_down:before {
  content: "\e9c2";
}

.icon-icon_up:before {
  content: "\e9c3";
}

.icon-icon_right:before {
  content: "\e9c4";
}

.icon-icon_conf_call_fill1:before {
  content: "\e9c5";
}

.icon-icon_bubble_smile:before {
  content: "\e9c6";
}

.icon-icon_bubble_smile_fi:before {
  content: "\e9c7";
}

.icon-icon_cc_fill:before {
  content: "\e9c8";
}

.icon-icon_chat_switch_to_:before {
  content: "\e9c9";
}

.icon-icon_chat_switch_to_1:before {
  content: "\e9ca";
}

.icon-icon_hand:before {
  content: "\e9cb";
}

.icon-icon_discern_fill:before {
  content: "\e9cc";
}

.icon-icon_C_device:before {
  content: "\e9cd";
}

.icon-icon_live:before {
  content: "\e9ce";
}

.icon-icon_flashlight_off:before {
  content: "\e991";
}

.icon-icon_flashlight_on:before {
  content: "\e992";
}

.icon-icon_yes_people_fill:before {
  content: "\e9cf";
}

.icon-icon_no_people_fill:before {
  content: "\e9d0";
}

.icon-icon_wififail_fill:before {
  content: "\e9d1";
}

.icon-icon_sound_off_fill:before {
  content: "\e9d2";
}

.icon-icon_newfriend_fill:before {
  content: "\e9d3";
}

.icon-icon_today_fill:before {
  content: "\e9d4";
}

.icon-icon_safety_round_fill:before {
  content: "\e9d5";
}

.icon-icon_robot_fill:before {
  content: "\e9d6";
}

.icon-icon_onebox_arrow_up:before {
  content: "\e9d7";
}

.icon-icon_onebox_arrow_down:before {
  content: "\e9d8";
}

.icon-icon_logo:before {
  content: "\e9d9";
}

.icon-icon_transpond_fill:before {
  content: "\e9da";
}

.icon-icon_come_go_fill:before {
  content: "\e9db";
}

.icon-icon_today_en_fill:before {
  content: "\e9dc";
}

.icon-icon_tag:before {
  content: "\e9dd";
}

.icon-icon_read:before {
  content: "\e9de";
}

.icon-icon_watchpost:before {
  content: "\e9df";
}

.icon-icon_send_plane:before {
  content: "\e9e0";
}

.icon-icon_inbox:before {
  content: "\e9e1";
}

.icon-icon_arrowhead:before {
  content: "\e9e2";
}

.icon-icon_smile:before {
  content: "\e9e3";
}

.icon-icon_subscribe_fill:before {
  content: "\e9e4";
}

.icon-icon_flash_on1:before {
  content: "\e9e5";
}

.icon-icon_flash_off1:before {
  content: "\e9e6";
}

.icon-icon_flash_auto:before {
  content: "\e9e7";
}

.icon-icon_circle:before {
  content: "\e9e8";
}

.icon-icon_forward_fill:before {
  content: "\e9e9";
}

.icon-icon_reply_fill:before {
  content: "\e9ea";
}

.icon-icon_replyall_fill:before {
  content: "\e9eb";
}

.icon-icon_force_close:before {
  content: "\e9ec";
}

.icon-icon_bilibili:before {
  content: "\e9f1";
}

.icon-icon_star:before {
  content: "\e9f2";
}

.icon-baocundaobendi:before {
  content: "\e6a0";
}

.icon-icon_collectfile_fill:before {
  content: "\e9f3";
}

.icon-icon_newgroup_fill:before {
  content: "\e9f4";
}

.icon-icon_newgroup:before {
  content: "\e9f5";
}

.icon-icon_hrm_fill:before {
  content: "\e602";
}

.icon-icon_deletet:before {
  content: "\e9f7";
}

.icon-icon_tagcolor:before {
  content: "\e9f8";
}

.icon-icon_reply:before {
  content: "\e9f9";
}

.icon-icon_replyall:before {
  content: "\e9fa";
}

.icon-icon_line_data:before {
  content: "\e9fb";
}

.icon-icon_watch:before {
  content: "\e9fc";
}

.icon-icon_unwatch:before {
  content: "\e9fd";
}

.icon-icon_close:before {
  content: "\e9fe";
}

.icon-icon_facestore:before {
  content: "\e9ff";
}

.icon-icon_explore:before {
  content: "\ea01";
}

.icon-icon_add_piazza:before {
  content: "\e625";
}

.icon-icon_cellectfile:before {
  content: "\ea02";
}

.icon-icon_journal_fill:before {
  content: "\ea03";
}

.icon-icon_muteoff_fill:before {
  content: "\e6a1";
}

.icon-icon_reject_fill:before {
  content: "\e6a3";
}

.icon-icon_mute_fill:before {
  content: "\e6a4";
}

.icon-icon_speaker_fill:before {
  content: "\e6a6";
}

.icon-icon_speakeroff_fill:before {
  content: "\e6a7";
}

.icon-icon_cloud_history_f:before {
  content: "\ea04";
}

.icon-icon_example_cn:before {
  content: "\ea07";
}

.icon-icon_example_en:before {
  content: "\ea08";
}

.icon-icon_example_fill:before {
  content: "\ea05";
}

.icon-icon_remind_fill:before {
  content: "\ea06";
}

.icon-icon_c_like:before {
  content: "\ea09";
}

.icon-icon_c_comment:before {
  content: "\ea0a";
}

.icon-icon_certificate_fi:before {
  content: "\ea0b";
}

.icon-icon_tag_color:before {
  content: "\ea0d";
}

.icon-icon_attachment:before {
  content: "\ea0e";
}

.icon-icon_tag_color_selec:before {
  content: "\ea0c";
}

.icon-icon_tag_empty_fill:before {
  content: "\ea0f";
}

.icon-icon_dispose:before {
  content: "\ea10";
}

.icon-icon_expire:before {
  content: "\e623";
}

.icon-icon_develop_tool:before {
  content: "\ea11";
}

.icon-icon_square1:before {
  content: "\ea12";
}

.icon-icon_homepage:before {
  content: "\ea13";
}

.icon-icon_square_fill1:before {
  content: "\ea14";
}

.icon-icon_homepage_fill:before {
  content: "\ea15";
}

.icon-icon_change_emoji:before {
  content: "\e9bd";
}

.icon-icon_addcspace:before {
  content: "\e9f0";
}

.icon-icon_collect:before {
  content: "\ea16";
}

.icon-icon_copy:before {
  content: "\ea17";
}

.icon-icon_ding:before {
  content: "\ea18";
}

.icon-icon_mute_play:before {
  content: "\ea19";
}

.icon-icon_multiset:before {
  content: "\ea1a";
}

.icon-icon_remind:before {
  content: "\ea1b";
}

.icon-icon_original:before {
  content: "\ea1c";
}

.icon-icon_sharelink:before {
  content: "\ea1d";
}

.icon-icon_replymessage:before {
  content: "\ea1e";
}

.icon-icon_translate:before {
  content: "\ea1f";
}

.icon-icon_voice_to_text:before {
  content: "\ea20";
}

.icon-icon_packup_text:before {
  content: "\ea21";
}

.icon-icon_recover:before {
  content: "\ea22";
}

.icon-icon_barrage_on:before {
  content: "\e9ed";
}

.icon-icon_printer:before {
  content: "\e9ee";
}

.icon-icon_print:before {
  content: "\e9ef";
}

.icon-icon_sound_off:before {
  content: "\e9f6";
}

.icon-icon_barrage_off:before {
  content: "\ea23";
}

.icon-icon_calendar:before {
  content: "\ea24";
}

.icon-icon_meeting:before {
  content: "\ea25";
}

.icon-icon_trumpet_fill:before {
  content: "\ea26";
}

.icon-icon_group_live:before {
  content: "\ea27";
}

.icon-icon_number_three:before {
  content: "\e626";
}

.icon-icon_forward_left_fill:before {
  content: "\ea28";
}

.icon-icon_file_noprompt:before {
  content: "\ea29";
}

.icon-icon_dingtalk_addres:before {
  content: "\e62f";
}

.icon-icon_addnew_fill:before {
  content: "\ea2a";
}

.icon-icon_importroster_fi:before {
  content: "\ea2b";
}

.icon-icon_care_fill:before {
  content: "\ea2c";
}

.icon-icon_exportroster_fi:before {
  content: "\ea2d";
}

.icon-icon_leave_fill:before {
  content: "\ea2e";
}

.icon-icon_prform_fill:before {
  content: "\ea2f";
}

.icon-icon_trip_fill:before {
  content: "\ea30";
}

.icon-icon_locform_fill:before {
  content: "\ea31";
}

.icon-icon_coupon_fill:before {
  content: "\ea32";
}

.icon-icon_shop_fill:before {
  content: "\ea33";
}

.icon-icon_signin:before {
  content: "\ea34";
}

.icon-icon_task_checkbox_done_mobile:before {
  content: "\e61e";
}

.icon-icon_task_checkbox_undo_mobile:before {
  content: "\e620";
}

.icon-icon_task_square_line:before {
  content: "\e622";
}

.icon-icon_task_square_fill:before {
  content: "\e627";
}

.icon-icon_medal_open:before {
  content: "\e632";
}

.icon-icon_medal_hidden:before {
  content: "\e633";
}

.icon-icon_medal:before {
  content: "\e635";
}

.icon-icon_medal_list:before {
  content: "\e636";
}

.icon-icon_workfile:before {
  content: "\e639";
}

.icon-icon_member:before {
  content: "\ea35";
}

.icon-icon_c_like_fill:before {
  content: "\ea36";
}

.icon-icon_online_editing:before {
  content: "\ea37";
}

.icon-icon_folder_add:before {
  content: "\ea38";
}

.icon-icon_access:before {
  content: "\ea39";
}

.icon-icon_pc_upload:before {
  content: "\ea3b";
}

.icon-icon_pc_copy:before {
  content: "\ea3d";
}

.icon-icon_pc_access:before {
  content: "\ea3e";
}

.icon-icon_pc_download:before {
  content: "\ea3f";
}

.icon-icon_pc_folder_add:before {
  content: "\ea40";
}

.icon-icon_pc_invite:before {
  content: "\ea41";
}

.icon-icon_pc_folder_uploa:before {
  content: "\ea42";
}

.icon-icon_pc_online_edit:before {
  content: "\ea43";
}

.icon-icon_pc_transpond:before {
  content: "\ea44";
}

.icon-icon_pc_rename1:before {
  content: "\ea45";
}

.icon-icon_pc_sort:before {
  content: "\ea46";
}

.icon-icon_pc_sharelink1:before {
  content: "\ea47";
}

.icon-icon_trophy_fill:before {
  content: "\ea3a";
}

.icon-icon_task_connect:before {
  content: "\ea3c";
}

.icon-icon_voip_bluetooth_:before {
  content: "\e606";
}

.icon-icon_voip_bluetooth_1:before {
  content: "\e607";
}

.icon-icon_delete_press:before {
  content: "\ea48";
}

.icon-icon_new_people_add1:before {
  content: "\e641";
}

.icon-icon_line_live_cross:before {
  content: "\e61a";
}

.icon-icon_save_fill:before {
  content: "\e61b";
}

.icon-icon_content_fill:before {
  content: "\ea4a";
}

.icon-icon_tb_menu_fill:before {
  content: "\ea59";
}

.icon-icon_tb_redpacket_fi:before {
  content: "\ea51";
}

.icon-icon_tb_text_fill:before {
  content: "\ea52";
}

.icon-icon_tb_redpacket:before {
  content: "\ea53";
}

.icon-icon_tb_ticket:before {
  content: "\ea55";
}

.icon-icon_tb_ticket_fill:before {
  content: "\ea56";
}

.icon-icon_tb_shop_fill:before {
  content: "\ea4b";
}

.icon-icon_im_face:before {
  content: "\ea00";
}

.icon-icon_im_keyboard:before {
  content: "\ea49";
}

.icon-icon_im_more:before {
  content: "\ea4c";
}

.icon-icon_im_voice:before {
  content: "\ea4d";
}

.icon-icon_security_face:before {
  content: "\e647";
}

.icon-icon_login_face:before {
  content: "\e648";
}

.icon-icon_ear_line:before {
  content: "\ea4e";
}

.icon-icon_beauty_line:before {
  content: "\ea4f";
}

.icon-icon_member_fill:before {
  content: "\e6b9";
}

.icon-icon_ph_video_fill:before {
  content: "\e6ba";
}

.icon-icon_ph_unvideo_fill:before {
  content: "\e6bb";
}

.icon-icon_flipcamera_fill:before {
  content: "\e6bf";
}

.icon-icon_historyfile:before {
  content: "\ea50";
}

.icon-icon_unlock:before {
  content: "\ea54";
}

.icon-icon_Hscreen_fill:before {
  content: "\e6c2";
}

.icon-icon_miniapp_full:before {
  content: "\ea57";
}

.icon-icon_miniapp:before {
  content: "\ea58";
}

.icon-icon_microphone:before {
  content: "\ea5a";
}

.icon-icon_univerisity:before {
  content: "\ea5b";
}

.icon-icon_holiday_fill:before {
  content: "\ea5c";
}

.icon-icon_mail_setting:before {
  content: "\ea5d";
}

.icon-icon_quickreply_fill:before {
  content: "\ea5e";
}

.icon-icon_skin_fill:before {
  content: "\e760";
}

.icon-icon_launch_page_fill:before {
  content: "\e761";
}

.icon-icon_activity_fill:before {
  content: "\e762";
}

.icon-icon_launch_page_fil:before {
  content: "\e763";
}

.icon-icon_riskcheck_fill:before {
  content: "\ea5f";
}

.icon-icon_redpacket:before {
  content: "\ea60";
}

.icon-icon_backarrow_right:before {
  content: "\ea61";
}

.icon-icon_mask_fill:before {
  content: "\ea62";
}

.icon-icon_facegroup:before {
  content: "\ea63";
}

.icon-icon_expand_face:before {
  content: "\ea64";
}

.icon-icon_expand_line:before {
  content: "\ea65";
}

.icon-icon_credit_fill:before {
  content: "\ea66";
}

.icon-icon_facegroup_fill:before {
  content: "\ea67";
}

.icon-icon_new_recruit_fil:before {
  content: "\ea68";
}

.icon-icon_sketch_fill:before {
  content: "\ea69";
}



